@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,700&family=Poppins:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

:root {
    //Colors

    // Primary

    --Pink: hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed: hsl(0, 100%, 63%);

    //Neutral

    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: #f5faff;

}

.text-LightRed {
    color: var(--LightRed);
}

.text-LightPink {
    color: var(--LightPink);
}

.text-Pink {
    color: var(--Pink);
}

.text-VeryPaleBlue {
    color: var(--VeryPaleBlue);
}

.text-VeryDarkCyan {
    color: var(--VeryDarkCyan);
}

.btn-top {
    color: var(--Pink);
    border: 1px solid var(--LightPink);
    transition: all 300ms;
    letter-spacing: 0.5px;

    &:hover {
        opacity: 0.8;
    }
}

.btn-pink {
    background-color: var(--Pink);
    color: var(--VeryPaleBlue);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

button {
    transition: all 300ms;

    &:hover {
        opacity: 0.75;
    }
}


.statistics {
    background-image: url('./images/bg-section-top-desktop-1.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.flowing-conversation {
    background-image: url('./images/bg-section-bottom-desktop-1.svg'), url('./images/bg-section-top-desktop-1.svg');
    background-repeat: no-repeat;
    background-position: top center, bottom center;
}

@media screen and (max-width:375px) {

    .statistics {
        background-image: url('./images/bg-section-top-mobile-1.svg') !important;

    }

    .flowing-conversation {
        background-image: url('./images/bg-section-top-desktop-2.svg'), url('./images/bg-section-top-desktop-2.svg') !important;
        background-repeat: no-repeat;
        background-position: top center, bottom center;
    }

    .build__commuinity {
        background-image: url('./images/bg-section-bottom-mobile-2.svg'), url('./images/bg-footer-top-mobile.svg') !important;
        background-repeat: no-repeat;
        background-position: top center, bottom center;
    }
}

.grow-togather,
.your-users {
    background-color: var(--VeryPaleBlue);

}

.build__commuinity {
    background-image: url('./images/bg-section-bottom-desktop-2.svg'), url('./images/bg-footer-top-desktop.svg');
    background-repeat: no-repeat;
    background-position: top center, bottom center;
}

footer {
    background-color: var(--VeryDarkCyan);
    color: var(--VeryPaleBlue);
}

.social-menu {
    li {
        a {
            transition: all 300ms;

            &:hover {
                color: var(--Pink);
            }
        }
    }
}